* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #254e58cc, #112d32cc),
    url(resources/gifs/city.gif);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
}

.logo {
  height: 4rem;
}

.text-box {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 4.8rem;
  font-weight: 500;
  letter-spacing: 0.8rem;
  line-height: 1.2;
  animation: moveInLeft 0.8s ease-in;
  margin-bottom: 1rem;
}

.heading-primary-sub {
  line-height: 1.2;
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  animation: moveInRight 0.8s ease-in;
  margin-bottom: 4rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 0.4rem;
  transition: all 0.1s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
  background-color: white;
  color: #333;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-in 0.8s;
  animation-fill-mode: backwards;
}

.portfolio {
  background-color: #eee;
  padding-top: 1.6rem;
}

.heading-projects {
  font-size: 2.8rem;
  font-weight: 500;
  color: #254e58;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-auto-rows: 32rem;
  gap: 2rem;
  grid-gap: 2rem;
  width: 90%;
  margin: 0 auto;
}

.project-item {
  background-color: white;
  height: 100%;
  width: 32rem;
  margin: 0 auto;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.check {
  width: 4rem;
  height: 4rem;
}

.project-polygon {
  padding: 1.5rem 3rem;
  height: 30%;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-image: linear-gradient(
      to right bottom,
      rgba(46, 139, 86, 0.8),
      rgba(60, 179, 114, 0.8)
    ),
    url(resources/imgs/productivity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 4rem;
}

.project-polygon-gif {
  width: 5rem;
  height: 5rem;
}

.project-polygon > span {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  float: right;
}

.project-item > a {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  transition: all 0.1s;
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}

.btn-seagreen {
  background-color: seagreen;
  color: white;
}